@import 'tailwindcss';

@theme {
  /* Шрифты */
  --font-family: 'Inter', sans-serif;

  /* Цвета */
  --color-primary-color: #355b3e;

  /* Тени */
  --shadow-8-16: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

@layer base {
  body {
    font-family: var(--font-family);
    color: var(--color-neutral-color);
  }
}

@layer components {
  /*Текст */
  .title-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-primary-color);
  }
}
